@import "./color.scss";
// common
.group_thumbnail {
  .img_box {width:26rem; height:26rem; border-radius: 100%; border:1px solid #bbbbbb;overflow: hidden;}
}
// group_head
.group_head {}


// group_contents
.group_contents {
  
}
